<launch>

    <!-- Required chmod +x dwm1001_publish_distances.py(active), and no need a __init__.py in this folder -->
    <node name="DWM1001_Active"
          pkg="uwb_localization_dwm"
          type="dwm1001_publish_distances.py"
          respawn="true"
          output="screen">
          <rosparam file="$(find uwb_localization_dwm)/config/params.yaml"
                    command="load"/>
    </node>

    <!-- Required chmod +x uwb_localization.py -->
    <!-- <node name="uwb_localozation"
          pkg="uwb_localization_dwm"
          type="uwb_localization.py"
          respawn="true"
          output="screen">
          <rosparam file="$(find uwb_localization_dwm)/config/params.yaml"
                    command="load"/>
    </node> -->

</launch>